@import '../../../assets/stylesheets/base'

.layout,
.layout__container
  height 100vh

.layout
  background-color #f6faff

.layout__container
  display flex
  align-items center
  justify-content center