.footer {
  display: flex;
}

.footer__container {
  display: flex;
  flex: 1;
}

.footer__container--center {
  justify-content: center;
}

.footer__anchor {
  display: block;
  padding: 1rem;
}

.footer__anchor--active {
  font-weight: 700;
}
