
nav {
  background-color: #E5E9F2;
  display: flex;
}

.nav {
  align-items: center;
  display: flex;
  flex: 1;
}

.nav--left {
  justify-content: flex-start;
}

.nav--right {
  justify-content: flex-end;
}

.nav__item {
  list-style: none;
}

.nav__anchor {
  display: block;
  padding: 1rem;
}

.nav__anchor--active {
  background-color: #D3DCE6;
}


