.layout {
  display: flex;
  justify-content: center;
}

.layout__container {
  max-width: 800px;
  width: 100%;
}

.layout__row {
  display: flex;
  flex: 1;
  clear: both;
}

.layout__column {
  flex: 1;
}
