.nav {
  display: flex;
}

.nav__container {
  display: flex;
  flex: 1;
}

.nav__container--left {
  justify-content: flex-start;
}

.nav__anchor {
  display: block;
  padding: 1rem;
}

.nav__anchor--active {
  font-weight: 700;
}
