html
  color #333
  font-family "Raleway", "Helvetica", "Arial", sans-serif
  font-size 14px
  font-weight 300

body, button, ul, p, h1
  border unset
  margin unset
  outline unset
  padding unset

ul
  list-style unset
  
a
  text-decoration unset

button
  cursor pointer